env.json
!node_modules/
node_modules/*
!node_modules/onvif/
!node_modules/node-fetch/
!node_modules/sax/
!node_modules/xml2js/
!node_modules/xmlbuilder/
!node_modules/lodash.get/
example*
test.js
bfg.jar
